* {
    padding: 0;
    margin: 0;
}

BODY {
    background-color: black;
}

.main {
    background-image: url(images/bg.jpg);
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}


.main .box {
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.52;
    position: absolute;
    top: 0;
    left: 20;
}

nav {
    display: flex;
    align-items: center;
    max-width: 57vw;
    margin: auto;
    justify-content: space-between;
    height: 60px;
    z-index: 10px;
    opacity: 1;
}

nav img {
    width: 120px;
    position: relative;
    z-index: 10px;
    opacity: 1;
}

nav button {
    position: relative;
    z-index: 10;
}

.textp {
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    gap: 25px;
    text-align: center;

    padding: 20px;
}

.textp div:first-child {
    font-weight: 700;
    font-size: 45px;

}

.textp div:nth-child(2) {
    font-size: 25px;
}

.btn {
    background-color:black ;
    padding-left: 8px;
    border-radius: 3px;
    border: 2px  solid grAY;
    opacity: 0.9;
    border-radius:5PX ;
    padding: 7px 55px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
}

.sign {
    padding: 8px 26px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: 2px  solid rgb(30, 30, 61); 
}

.btn-red {
    width: 175px;
    font-size: 20px;
   border: 2px  solid rgb(30, 30, 61); 
    color: white;
    padding: 12px 16px;
    border-radius: 3px;
}

.main input {

    color:rgb(30, 30, 61);
    padding: 15px 150px;
    color: gray;
    font-weight: 300;
    opacity: 0.9;
    padding-left: 10px;
    font-size: 17px;
    background-color: rgba(23, 23, 23, 0.7);
    border-radius: 5px;
}

.last {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 20;
    gap: 10px;
}
.nav1{
    display:flex ;
    gap: 13px;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color:white;
    font-size: 20px;

    padding:0px 50px;
}
.heading{
    color: white;
    padding: 78px 17px 12px 19px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    padding-left: 55px;
}
.con1 {
    border: 2px  solid rgb(30, 30, 61); ;
border-radius: 10px;
background-color:rgb(30, 30, 61);
width: 54vw;
  height: 44vh;
}
.con1 div{
    padding: 10px;

}
.con1 span{
    
    font-size: 15px;
    color: gray;
    font-weight: 300;
    opacity: 0.9;
    padding-top: 20px;
}
.con2{
    border: 2px  solid rgb(30, 30, 61); ;
border-radius: 10px;
background-color:rgb(30, 30, 61);
width: 54vw;
  height: 44vh;
}
.con2 div{
    padding: 10px;
  
}
.con2 span{
    font-size: 15px;
    color: gray;
    font-weight: 300;
    opacity: 0.9;
    padding-top: 20px;
}
.con3{
    border: 2px  solid rgb(30, 30, 61); ;
border-radius: 10px;
background-color:rgb(30, 30, 61);
width: 54vw;
  height: 44vh;
}
.con3 div{
    padding: 10px;
}
.con3 span{
    font-size: 15px;
    color: gray;
    font-weight: 300;
    opacity: 0.9; 
    padding-top: 20px;
}
.con4{
    border: 2px  solid rgb(30, 30, 61); ;
    background-color:rgb(30, 30, 61);
    width: 54vw;
    height: 44vh;
border-radius: 10px;
}
.con4 div{
    padding: 10px;
}
.con4 span{
    font-size: 15px;
    color: gray;
    font-weight: 300;
    opacity: 0.9;
    padding-top: 20px;
}
@media(max-width:828px){
.first{
    flex-direction:column;
}
}
.faq{
background-color: black;
color: white;
}
.faq h3{
    padding: 34px 20px;
    font-family: Netflix sans,Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;;
    font-size:24px
}
.faqbox{
 
    display: flex;
    background-color: rgb(60, 59, 59);
    padding: 24px;
    padding-left: 20px;
font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
max-width: 90vw;
  margin: auto;
  justify-content: space-between;
  font-size: 20px;
  border: 3px solid black;

  
}


